#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

/*** Modifications page photoghraphes ***/
/* Modifications infos photographes */
.photographer_imgprofil img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
    margin-left: 100px;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.media_article h1 {
    color: #D3573C;
    font-size: 4em;
    margin-bottom: 12px;
}

.media_article :nth-child(2) {
    color: #901C1C;
    font-size: 1.5em;
    margin-top: 0px;
}

.media_article :nth-child(3) {
    color: #525252;
    font-size: 1.2em;
    margin-top: 20px;
}

/* Modifications menu de tri */
.div_menu_tri {
    display: flex;
    margin: 20px 0px 50px 0px;
}

.form_menu_tri {
    max-width: 340px;
    margin: 0 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label_menu_tri {
    font-size: 1em;
    margin: 0px 20px 0px 0px;
    font-weight: bold;
}

.select_menu_tri {
    width: 40%;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #901C1C;
    color: #fff;
}

.select_menu_tri:focus {
    border-color: #DB8876;
    outline: none;
}

.select_menu_tri option {
    padding: 23px 0px 23px 20px;
}

/* Modifications médias photographes */
.photographer_media {
    margin: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    place-items: center;
}

.media-item img, video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

/* Modifications noms et likes des médias photographes */
.name_like_media {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 1.2em;
    margin-top: 5px;
}

.p_namemedia {
    max-width: calc(100% - 80px);
    word-wrap: break-word;
    margin-right: 10px;
}

.name_like_media :nth-child(2) {
    font-weight: 700;
}

.name_like_media :nth-child(2) i {
    margin-left: 5px;
}